.w3-top, .w3-bottom {
  left: 0;
  right: 0;
  background-color: rgba(127, 140, 141, 0.7)!important;
}

.standard-button{
  background-color: rgba(127, 140, 141, 1)!important;
}

.twitter-button{
  background-color: rgba(0, 172, 237, 1)!important;
}




/******************************************************************************/
body {
  padding: 50px;
  padding-bottom: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #34495e;
}

a {
  color: #00B7FF;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

.container h3{
  color: #ecf0f1;
}

#brand-name{
  font-size: 20px;
  padding: 12px 24px 13px 0px;
  text-decoration: none;
  color: white;
}

#greeting {
  font-size: 16px;
  padding: 15px 24px 15px 0px;
}

.log-btn{
  width: 90px!important;
}

.tile_preview{
  display: block;
  height: 250px;
  width: 300px;
  border: 1px solid lightgray;
  background-size: cover;
  background-position: center; 
}

.add-new-tile-modal{
  width: 350px;
}

.tile_grid{
  margin-top: 20px;
  color: #34495e;
}

.one_tile{
  box-sizing: border-box;
  display: inline-block;
  width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
}

.image_holder{
  display: inline-block;
  width: 180px;
  margin-bottom: 10px;
}

.one_tile_title{
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.one_tile_like i{
  color: #e74c3c;
  margin-bottom: 5px;
}

.one_tile_like_vote{
  cursor: pointer;
}

.one_tile_delete{
  cursor: pointer;
}

.one_tile_author{
  font-weight: bold;
}